name: Build & Upload

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 8
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
      - name: Unshallow
        run: git fetch --unshallow --quiet
      - name: Build with Maven
        run: mvn -B package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: "BetterEconomy"
          path: "./target/BetterEconomy*.jar"
