name: Build & Release

on:
  push:
    tags: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: '16'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn -B package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload artifact
        uses: actions/upload-artifact@v2.3.1
        with:
          name: "BetterEconomy"
          path: "./target/BetterEconomy*.jar"
      - name: Publish Package
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload to Discord
        uses: sinshutu/upload-to-discord@v2.0.0
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: "./target/BetterEconomy*.jar"
      - name: GH Release
        uses: softprops/action-gh-release@v1
        with:
          body: "New release of BetterEconomy"
          fail_on_unmatched_files: true
          files: "./target/BetterEconomy*.jar"
          draft: false
          prerelease: false